Binaries
DerivedDataCache
Intermediate
Saved
Plugins/Developer
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea
.vsconfig
ClientPredictionEx.sln.DotSettings.user